@mixin textStyle($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin btnStyle($bg, $border, $border-radius, $py, $px) {
    background: $bg;
    border: $border;
    border-radius: $border-radius;
    padding: $py $px;
}

@mixin btnHover($bg-hover, $bd-hover, $color-hover) {
    background: $bg-hover;
    border-color: $bd-hover;
    color: $color-hover;
}

// Responsive
@mixin responsive($screen) {
    @if (map-has-key($map: $breakpoints, $key: $screen)) {
        // Tìm thấy tên màn hình trong danh sách của breakpoints
        $value: map-get(
            $map: $breakpoints,
            $key: $screen,
        );
        @media screen and (max-width: $value) {
            @content;
        }
    } @else {
        @warn "Sai tên màn hình";
    }
}
