// Font size
$fs-1: .75rem;
$fs-2: .8em;
$fs-3: .9em;
$fs-4: 13px;
$fs-5: 1.1rem;
$fs-6: 1.55rem;
$fs-7: 2.5rem;
$fs-8: 3.5rem;
$fs-9: 3.8rem;

// Font ưeight
$fw-1: 300;
$fw-2: 400;
$fw-3: 700;

// Color
$color-dark-gray: #181818;
$color-white: #fff;
$color-strong-pink: #b61984;

// Margin
$mg-1: .05em;
$mg-2: 1em;
$mg-3: 2em;
$mg-4: 4em;
$mg-5: 40px;
$mg-6: 50px;
$mg-7: -15px;
$mg-8: 10px;

// Padding
$pd-1: 2em;
$pd-2: 4em;
$pd-3: 8em;
$pd-4: 20px;
$pd-5: 40px;
$pd-6: 50px;
$pd-7: 10px;
$pd-8: 5px;
$pd-9: 1px;

// Border 
$bd-1: 1px;

// Border radius
$bd-radius-1: 30px;